<!-- Items Section -->
<section class="container thumbnails section-top">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-chair1.jpg", alt: "Table Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-chair2.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-chair3.jpg", alt: "Lamps Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-chair4.jpg", alt: "Table Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-chair5.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-chair6.jpg", alt: "Lamps Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-chair7.jpg", alt: "Table Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-chair8.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-9 col-lg-4 items-img">
			<%= image_tag "thumb-chair1.jpg", alt: "Lamps Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
	</div>
</section>