<!-- Items Section -->
<section class="container thumbnails">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "shop-table1.jpg", alt: "Table Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "shop-chair2.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "shop-chair3.jpg", alt: "Lamps Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "shop-chair4.jpg", alt: "Table Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "shop-table5.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "lamp-section.jpg", alt: "Lamps Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "table-section.jpg", alt: "Table Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "shop-lamp8.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "shop-chair9.jpg", alt: "Lamps Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
		</div>
	</div>
</section>