<!-- Items Section -->
<section class="container thumbnails section-top">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-lamp1.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-lamp2.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-lamp3.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-lamp4.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-lamp5.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-lamp6.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-lamp7.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-lamp8.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-lamp9.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
	</div>
</section>
