<!-- Items Section -->
<section class="container thumbnails section-top">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-table1.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-table2.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-table3.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-table4.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-table5.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-table6.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-table7.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-table8.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 items-img">
			<%= image_tag "thumb-table9.jpg", alt: "Chair Section", class: "img-fluid" %>
			<span class="slide-bg"></span>
			<span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
			<%= link_to "", simple_pages_chairs_path, class: "title" %>
		</div>
	</div>
</section>
