<p id="notice"><%= notice %></p>

<div class="hero-section">
  <h1>Shop Comming Soon</h1>
  <p>Check back in a few weeks and bring your wallet!</p>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Colour</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.colour %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: "hide-products" %>

<!-- Items Section -->
<section class="container thumbnails section-top">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-12 col-md-6 col-lg-4 items-img">
        <%= image_tag product.image_url, alt: "Chair Section", class: "img-fluid" %>
        <span class="slide-bg"></span>
        <span class="title"><p class="proj-title"><i class="fas fa-shopping-cart"></i></p></span>
        <%= link_to "", simple_pages_chairs_path, class: "title" %>
        <a href="#"><h1><%= product.name %></h1></a>
        <p><%= product.description %></p>
        <strong><%= product.price %></strong>
      </div>
    <% end %>
  </div>
</section>