<!DOCTYPE html>
<html>
  <head>
    <title>Vintage Furniture</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!--Navigation-->
    <header class="container-full">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark container" role="navigation">
        <%= link_to "Vintage Furniture", root_path, class: "navbar-brand" %>
        <div class="burger">
          <button class="hamburger">&#9776;</button>
        </div>
        <!-- Collapse Navigation-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item table-link">
              <%= link_to "Tables", simple_pages_tables_path, class: "nav-link" %>
            </li>
            <li class="nav-item chairs-link">
              <%= link_to "Chairs", simple_pages_chairs_path, class: "nav-link" %>
            </li>
            <li class="nav-item lamps-link">
              <%= link_to "Lamps", simple_pages_lamps_path, class: "nav-link" %>
            </li>
            <li class="nav-item none-drop-link">
              <%= link_to "About", simple_pages_about_path, class: "nav-link" %>
            </li>
            <li class="nav-item none-drop-link">
              <%= link_to "Contact", simple_pages_contact_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a href="#"><i class="fas fa-search"></i></a>
            </li>
            <li class="nav-item">
              <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </li>
          </ul>
        </div> <!-- collapse close -->
      </nav> <!-- end nav container -->

      
      <!-- Dropdown Tables -->
      <div class="dropdown-tables hide-drop">
        <div class="links">
            <div class="links-col1">
              <li class="link-item">
               <%= link_to "Oak Rendered Table", simple_pages_tables_path, class: "nav-link roll", src: image_path("table1.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Stained Writing Table", simple_pages_tables_path, class: "nav-link roll", src: image_path("table2.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Large Slab Dinning Table", simple_pages_tables_path, class: "nav-link roll", src: image_path("table3.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Picnic Table", simple_pages_tables_path, class: "nav-link roll", src: image_path("table4.jpg") %> 
              </li>
              <li class="link-item">
                <%= link_to "Retro Storage Unit", simple_pages_tables_path, class: "nav-link roll", src: image_path("table5.jpg") %>
              </li> 
              <li class="link-item">
                <%= link_to "Oak Sideboard", simple_pages_tables_path, class: "nav-link roll", src: image_path("table6.jpg") %>
              </li> 
            </div>
            <div class="links-col2">
              <li class="link-item">
                <%= link_to "Marble Top Dinning Table", simple_pages_tables_path, class: "nav-link roll", src: image_path("table7.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Wooden Banquet Table", simple_pages_tables_path, class: "nav-link roll", src: image_path("table8.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Stained Dinning Table", simple_pages_tables_path, class: "nav-link roll", src: image_path("table9.jpg") %>
              </li>
            </div>
        </div>
        <div id="image-display" class="show-img">
            <%= image_tag("table-preview.jpg", class: "img-fluid preview") %>
        </div>
      </div>

      <!-- Dropdown Chairs -->
      <div class="dropdown-chairs hide-drop">
        <div class="links">
            <div class="links-col1">
              <li class="link-item">
               <%= link_to "Chesterfield Chair Set", simple_pages_chairs_path, class: "nav-link roll", src: image_path("chair1.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Vintage Comfort Chair", simple_pages_chairs_path, class: "nav-link roll", src: image_path("chair2.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Oak Hall Chairs", simple_pages_chairs_path, class: "nav-link roll", src: image_path("chair3.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Upholstered Oak Chairs", simple_pages_chairs_path, class: "nav-link roll", src: image_path("chair4.jpg") %> 
              </li>
              <li class="link-item">
                <%= link_to "Classical Dinning Chairs", simple_pages_chairs_path, class: "nav-link roll", src: image_path("chair5.jpg") %>
              </li> 
              <li class="link-item">
                <%= link_to "Twin Armchairs", simple_pages_chairs_path, class: "nav-link roll", src: image_path("chair6.jpg") %>
              </li> 
            </div>
            <div class="links-col2">
              <li class="link-item">
                <%= link_to "Dining Chairs", simple_pages_chairs_path, class: "nav-link roll", src: image_path("chair7.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Armchairs", simple_pages_chairs_path, class: "nav-link roll", src: image_path("chair8.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Gothic Dinnning Chairs", simple_pages_chairs_path, class: "nav-link roll", src: image_path("chair9.jpg") %>
              </li>
            </div>
        </div>
        <div id="image-display" class="show-img">
            <%= image_tag("chair-preview.jpg", class: "img-fluid preview") %>
        </div>
      </div>

      <!-- Dropdown Lamps -->
      <div class="dropdown-lamps hide-drop">
        <div class="links">
            <div class="links-col1">
              <li class="link-item">
               <%= link_to "Retro Element Bulbs", simple_pages_lamps_path, class: "nav-link roll", src: image_path("lamp1.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Metal Ceiling Lamps", simple_pages_lamps_path, class: "nav-link roll", src: image_path("lamp2.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Element Down Lights", simple_pages_lamps_path, class: "nav-link roll", src: image_path("lamp3.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Vintage Switch Lamps", simple_pages_lamps_path, class: "nav-link roll", src: image_path("lamp4.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Brass Up Lights", simple_pages_lamps_path, class: "nav-link roll", src: image_path("lamp5.jpg") %>
              </li> 
              <li class="link-item">
                <%= link_to "Retro Search Light", simple_pages_lamps_path, class: "nav-link roll", src: image_path("lamp6.jpg") %>
              </li> 
            </div>
            <div class="links-col2">
              <li class="link-item">
                <%= link_to "Black Ceiling Lights", simple_pages_lamps_path, class: "nav-link roll", src: image_path("lamp7.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Vintage Metal Lamp", simple_pages_lamps_path, class: "nav-link roll", src: image_path("lamp8.jpg") %>
              </li>
              <li class="link-item">
                <%= link_to "Vintage Metal Lamp", simple_pages_lamps_path, class: "nav-link roll", src: image_path("lamp8.jpg") %>
              </li>
            </div>
        </div>
        <div id="image-display" class="show-img">
            <%= image_tag("lamp-preview.jpg", class: "img-fluid preview") %>
        </div>
      </div>

    </header>
    
    <%= yield %>

    <!-- footer section -->
    <footer class="container-nav">
      <div class="container">
        <div class="copy-right">
          <p>&copy; Vintage Furniture</p>
        </div>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </footer>

    <script>

      $(document).ready(function(){
          
          // Nav Menu
          $('.navbar-nav a').click(function () {
            $('.navbar-collapse').toggle();
          });

          // Nav Button
          $('.burger').click(function(){
            $('.navbar-collapse').slideToggle("slow");
          });

          // Nav Roll
          $(".roll").hover(function(){
              $('.show-img').css({'background':'url('+ $(this).attr('src')
            });
          });

          // Table Dropdown
          $('.table-link').mouseenter(function(){
            $('.container-full').animate({height:350},200);
            $('.dropdown-chairs, .dropdown-lamps').hide();
            $('.dropdown-tables').show();
          });

          // Chair Dropdown
          $('.chairs-link').mouseenter(function(){
            $('.container-full').animate({height:350},200);
            $('.dropdown-tables, .dropdown-lamps').hide();
            $('.dropdown-chairs').show();
          });

          // Lamp Dropdown
          $('.lamps-link').mouseenter(function(){
            $('.container-full').animate({height:350},200);
            $('.dropdown-chairs').hide();
            $('.dropdown-lamps').show();
          });

          // Close About, Contact
          $('.none-drop-link').mouseenter(function(){
            $('.container-full').animate({height:60},50);
            $('.hide-drop').hide()
          });

          // Close Container
           $('.container-full').mouseleave(function(){
            $(this).animate({height:60},200);
            $('.hide-drop').hide()
          });

          // Section Index
          $('.items-img').mouseenter(function(){
            $('.slide-bg', this).fadeIn('slow');
            $('.title', this).fadeIn('fast');
          }).mouseleave (function(){
            $('.slide-bg', this).fadeOut('fast');
            $('.title', this).fadeOut('slow');
          }); 

      });

    </script>

  </body>
</html>
